.vscode
.DS_Store
__pycache__/

CellTypeAgent/APIs/
CellTypeAgent/claude_api_key.txt

CellTypeAgent/logs/
CellTypeAgent/test*.ipynb
CellTypeAgent/lit_test.ipynb
CellTypeAgent/test_log.txt
LitSense_test.ipynb

CellTypeAgent/analysis/
CellTypeAgent/data/CELLxGENE/*.csv
CellTypeAgent/data/GPTCellType/datasets/tabulasapiens.csv

Baselines/

CellTypeAgent/__pycache__/
CellTypeAgent/chat_with_openai_api/
CellTypeAgent/celltype_annotation_assistant.py
CellTypeAgent/workflows.py
CellTypeAgent/APIs/*
analysis
